div.content
  div.page-header
    h1 #{title}
      small 
  
  #welcome.container.row
    h2 Welcome!
    .span8
      form#form.well.form-inline(onsubmit="return false;")
        .row
          .span2
            label Who are you?
          .span4
            input#name(type="text", placeholder=".. I am bob")
            //
            button.btn(type="submit") Go!
        .row
          .offset2.span4
            ul.color-chooser
              each color in colors
                li.color(class="labelstyle-#{color}")
                  label
                    input(name="color", type="radio", value="#{color}")
  
  .container.row
    #ncirc 0
    #players.span2
      //div.alert.alert-info
        h4 a
        .progress.progress-success
          .bar(style="width: 50%")
    .span8  
      div#container(style='text-align: center;')// border: 2px solid red;')

footer

script
  // set the scene size
  var WIDTH = 640,
    HEIGHT = 480,
    DIAGONAL = Math.sqrt(Math.pow(WIDTH, 2) + Math.pow(HEIGHT, 2));
    
  $(function () {
    // TODO(pwaller): Choose initial colour at random
    // TODO(pwaller): Remember name and colour selections
  
    $("#name").focus();
    
    $("#form input[name=color]:first").prop("checked", true).parents("li").addClass("selected");
    
    $(".color-chooser input").click(function () {
      console.log("Clicked! ", $(this).val());
      $(".color-chooser li").removeClass("selected");
      $(this).parents("li").addClass("selected");
    });
    
    $("input,button", this).prop("disabled", false);
    
    $("#form").submit(function (e) {
      e.preventDefault();
      $("#form").off("submit");
      // Prevent duplicate submission:
      $("input,button", this).prop("disabled", true);
      //$("#form").prop("disabled", true);
      
      var name = $("#name").val();
      $("#players").append(
        $("<div>").addClass("alert alert-info")
          .append($("<div>").text("Le " + name))
          .append($("<div>").addClass("progress progress-success")
            .append($("<div>").addClass("bar").attr("style", "width: 20%")))
      );
          
      $("#welcome").fadeOut();
      
      var graphics = new Graphics();
      graphics.renderer_element.hide().delay(500).fadeIn();
      
      var client = new Client(graphics);
    });
    
    if (options.go)
      $("#form").submit();
  });

