!!! 5
html
  head
    script(src='/js/jquery-1.7.1.js') 
    link(rel='stylesheet', href='/css/bootstrap.css')
      
    //link(rel='stylesheet', href='/css/bootstrap-responsive.css') 
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    script(src='/js/jquery-1.7.1.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/Three.js')
    script(src='/js/bootstrap-transition.js')
    script(src='/js/bootstrap-alert.js')
    script(src='/js/bootstrap-modal.js')
    script(src='/js/bootstrap-dropdown.js')
    script(src='/js/bootstrap-scrollspy.js')
    script(src='/js/bootstrap-tab.js')
    script(src='/js/bootstrap-tooltip.js')
    script(src='/js/bootstrap-popover.js')
    script(src='/js/bootstrap-button.js')
    script(src='/js/bootstrap-collapse.js')
    script(src='/js/bootstrap-carousel.js')
    script(src='/js/bootstrap-typeahead.js')
    
  body
    //
      div.navbar.navbar-fixed-top
        div.navbar-inner
          div.container
            a(href='#').brand #{title}
            div.nav-collapse
              ul.nav
                li.active 
                  a(href='#') Home
                li  
                  a(href='#') About
                li  
                  a(href='#') Contact
                  
                
    div.container !{body}
